.overviewContainer {
  height: 80vh;
  border: 1px solid black;
  display: grid;
  grid-template-rows: minmax(200px, 80%) 1fr;
  height: 100%
}

.productContainer {
  display: grid;
  grid-template-columns: minmax(150px, 60%) 1fr;
  height: 100%;
}

.galleryContainer {
  background-color: #d1d9d9;
  height: 100%;
}

.galleryContainer.grow{
  width: 100vw;
  z-index: 10;
}

.side-drawer {
  transform: translateX(0);
  right: 0;
}

.side-drawer.close {
  /* position: fixed; */
  transform: translateX(100%);
}
