
.cardGrid {
  display: grid;
  grid-template-rows: 280px 28px 28px 28px 28px;
  row-gap: 2px;
  position: relative;
  height: 400px;
  width: 300px;
  border: 0.5px solid black;
  background: white;

}

.carousel {
  display: inline-block;
  height: 400px;
  width: 100%;
  /* background: lightgrey; */
  position: relative;
}

.carousel_button {
  display: inline-block;
  position: absolute;
  top: 50%;
  border: 0;
  cursor: pointer;
  background: transparent;
  /* z-index: 1; */
}

.carousel_button:hover {
  opacity: 50%;
}

.carousel_button--right {
  right: 10px;
}

.carousel_button--left {
  left: 10px;
}


.testImage {
  height: 280px;
  width: 299px;
  /* padding: 10px; */
  position: relative;
  margin: 0;
  border: 0.5px solid black;
  /* object-fit: cover; */
}

.carousel_track {
  white-space: nowrap;
  margin: 0;
  list-style: none;
  display: inline-flex;
  width: 100%;
  align-items: center;

}


.card_slide {
  position: relative;
  /* width: 100%; */
  padding: 0 50px;
}



