
.cardGrid {
  display: grid;
  grid-template-rows: 280px 28px 28px 28px 28px;
  /* row-gap: 2px; */
  position: relative;
  height: 400px;
  width: 300px;
  border: 0.5px solid black;
  background: white;
}

.row-text {
  align-self: center;
  /* justify-self: center; */
  padding: 0 4px;
}

.carousel {
  display: inline-block;
  height: 400px;
  width: 100%;
  /* background: lightgrey; */
  position: relative;
}

.carousel_button {
  display: inline-flex;
  position: absolute;
  top: 50%;
  border: 0;
  cursor: pointer;
  background: transparent;
  z-index: 1;
}

.carousel_button:hover {
  opacity: 50%;
}

.carousel_button--right {
  right: 10px;
}

.carousel_button--left {
  left: 10px;
}


.testImage {
  height: 280px;
  width: 299px;
  padding: 0;
  margin: 0;
  /* position: relative; */
  /* display: block; */
  /* border: 0.5px solid black; */
  /* object-fit: cover; */
}

.carousel_track {
  white-space: nowrap;
  margin: 0;
  list-style: none;
  display: inline-flex;
  width:100%;
  align-items: center;
  justify-content: center;

}


.card_slide {
  position: relative;
  /* width: 100%; */
  /* padding: 0 10px; */
  padding-right: 3%;
}

.starIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

.starIcon:hover {
  opacity: 50%;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
} */

.modal-main {
  position: fixed;
  background: white;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 40%;
  /* transform: translate(-50%,-50%); */
  z-index: auto;
  border: 2px solid black;
}

.display-block {
  display: block;
  position: absolute;
  z-index: 10;
}

.display-none {
  display: none;
}

.buttonModal {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-main-title {
  position: absolute;
  font-style: italic;
  font-weight: bold;
  font-size: larger;
  top: 30px;
  left: 15px;
  /* text-align: center; */
  /* justify-self: center; */
}

.modal-product-name {
  font-style: normal;
  font-size: large;
  font-weight: 900;
}

.modal-row-text {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  padding: 0 5px;
}

.modal-product-features-right {
  position: absolute;
  top: 100px;
  left: 310px;
}

.modal-product-name-right {
  position: absolute;
  top: 70px;
  left: 310px;
  /* text-align: right; */
}

.modal-product-features-left {
  position: absolute;
  top: 100px;
  left: 10px;
}

.modal-product-name-left {
  position: absolute;
  top: 70px;
  left: 10px;
  /* text-align: right; */
}




.outfit-card {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  left: 120px;
  text-align: center;
  /* align-self: left; */
  /* left: 100px; */
}

.add-button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 40%;
  left: 105px;
  cursor: pointer;
}

.add-button:hover {
  opacity: 50%;
}

.outfit-text {
  position: absolute;
  font-size: larger;
  left: 95px;
  top: 65%;
}

.carousel_track-outfit {
  white-space: nowrap;
  margin: 0;
  list-style: none;
  display: inline-flex;
  width: 1100px;
  transform: translateX(450px);
  /* align-items: left; */
  justify-content: left;
  background: coral;
}
