/********************************************
************** PRODUCT DISPLAY ********************
*********************************************/
.productContainer {
  display: grid;
  grid-template-columns: minmax(50%, 60%) 1fr;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

/********************************************
************** GALLERY ********************
*********************************************/
.galleryContainer {
  background-color: #d1d9d9;
  height: 100%;
}
.galleryContainer.grow {
  width: 100vw;
  z-index: 10;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}

.icon {
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  color: purple;
  background: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}
.icon:hover {
  transform: scale(1.2);
}

.carouselControlContainer {
  align-self: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.carouselControlContainer .arrow:nth-child(1) {
  position: absolute;
  left: 120px;
}
.carouselControlContainer .arrow:nth-child(2) {
  position: absolute;
  right: 20px;
}

.arrow {
  margin: 5px 40px;
  font-size: 40px;
  cursor: pointer;
  background: #f2f2f2;
  padding: 5px;
  border: 0;
  color: purple;
  outline: none;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}
.arrow:hover {
  transform: scale(1.1);
  background: rgba(211, 217, 243, 0.8);
}
.arrow.hidden {
  display: none;
}

.thumbnailContainer {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-direction: column;
  margin: 10px;
  height: 95%;
}

img {
  width: 125px;
  height: 125px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-position: center;
  margin: 5px;
  opacity: 100%;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
img:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}

.img.active {
  opacity: 40%;
  border-radius: 50%;
  cursor: default;
}

/********************************************
************** CART SELECTION ********************
*********************************************/
.side-drawer {
  padding: 20px;
  background-color: #f54748;
  height: 100%;
  transform: translateX(0);
  right: 0;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-drawer.close {
  /* fixed prevents widening viewport when translated */
  position: fixed;
  transform: translateX(100%);
}

.cartSelectionContainer {
  background-color: #f5e6ca;
  padding: 10px 40px;
  border-radius: 10px;
  height: 90%;
  flex-shrink: 2;
}

a {
  color: #343f56;
  text-decoration: none;
}
a:hover {
  color: #f54748;
}
a:active {
  color: #f547f8;
}

.productStyles {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-gap: 5px;
  margin-bottom: 30px;
}

.styleIcons {
  border-radius: 50%;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-size: cover;
  margin: 3px;
}
.styleIcons:hover {
  transform: scale(1.05);
}

.styleIconWrapper {
  position: relative;
}

.selectedInput {
  position: absolute;
  display: inline-block;
  transform: rotate(45deg);
  top: 0;
  right: 7px;
}

.checkCircle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #9691F4;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.checkStem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

.checkKick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}

/* CART BUTTONS */
.cartBtnSection {
  display: grid;
  grid-template-columns: minmax(400px, 75%) 1fr;
}

.cartBtnWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  flex-shrink: 2;
  justify-items: start;
}
.cartBtnWrapper .cartBtn {
  background-color: #343f56;
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 175px;
  padding: 5px;
}
.cartBtnWrapper .cartBtn:hover {
  transform: scale(1.015);
}
.cartBtnWrapper .cartBtn:focus {
  outline: none;
}
.cartBtnWrapper .cartBtn:active {
  box-shadow: inset 0px 0px 5px #000;
  outline: none;
  background-color: #343f99;
  transform: scale(1);
}
.cartBtnWrapper .item2, .cartBtnWrapper .item4 {
  width: 50px;
  margin-right: 0 auto;
}

.liked {
  color: fuchsia;
}

#cart {
  position: fixed;
  top: 100px;
  right: 60px;
  width: 50px;
  height: 50px;
  background: #343f56;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#cart :first-child {
  font-size: 25px;
  color: white;
}
#cart:before {
  content: attr(data-count);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #f54748;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}

/* SOCIAL MEDIA ICONS */
.socialWrapper {
  margin-top: 5%;
  display: inline-flex;
}

.socialIcon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialIcon:hover .nameDisplay {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.socialIcon:hover span, .socialIcon:hover .nameDisplay {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nameDisplay {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nameDisplay::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.twitter:hover, .twitter:hover .nameDisplay,
.twitter:hover .nameDisplay::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.facebook:hover, .facebook:hover .nameDisplay,
.facebook:hover .nameDisplay::before {
  background-color: #3b5999;
  color: #ffffff;
}

.pinterest:hover, .pinterest:hover .nameDisplay,
.pinterest:hover .nameDisplay::before {
  background-color: #e1306c;
  color: #ffffff;
}

.onSale {
  text-decoration: line-through;
  color: gray;
  margin-left: 8px;
}
